<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-SavvyO</title>
    <link rel="stylesheet" href="/admin-st/css/index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Seller-Application</a>
                <ul>
                    <li><a href="seller-application-pending.html">Pending</a></li>
                    <li><a href="seller-application-rejected.html">Rejected</a></li>
                </ul>
            </li>
            <li><a href="seller-list.html">Sellerlist</a></li>
        </ul>
    </nav>
</body>
</html>
