<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Selling Website</title>
    <link rel="stylesheet" href="/seller-st/css/style.css">

</head>
<body>
    <div class="top-bar">
        <div class="logo"><img src="/seller-stima/Savvyo_logo.png" alt=""></div>
        <a href="#" class="start-selling-button">Start Selling</a>
    </div>
    <div class="container">
      
        <h1>Wanna start selling?</h1>
        <p>Become an SavvyO seller</p>
        <p>Start your selling journey on Amazon and become a part of our 14 Lakh+ seller community</p>
        <a href="/Seller/s-login" class="start-selling-button">Start Selling</a> <br> <br>
        <a href="">*T&C Apply</a>
    </div>
</body>
<html></html>

